.settings
*.pyc
*.exe
*.so
*.dll
*.a
*.lib
*.LIB

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

src/code.google.com/p/go.net
src/scalegun.com/v1
src/github.com/ZhangBanger
src/github.com/discoviking
src/github.com/gogo
src/github.com/libgit2
src/github.com/nsf
src/github.com/mattn
src/github.com/stefankopieczek
src/golang.org/x
src/gopkg.in
